.main-navigation {
	top: 0;
	position: sticky;
	width: 100%;
	background:$blue;
	z-index:9999;
	margin-bottom:35px;
	@media screen and (max-width: 640px) {
		padding:10px 0;
	}
	.toggle-menu {
		display:none;
		width:20px;
		background:none;
		border:none;
		border-top:2px solid $yellow;
		border-bottom:2px solid $yellow;
		height:20px;
		margin-left:15px;
		position:relative;
		&:before {
			content:'';
			height:0;
			border-bottom:2px solid $yellow;
			width:100%;
			position:absolute;
			top:50%;
			transform:translateY(-50%);
			left:0;
		}
		&:focus {
			outline:none;
		}
		@media screen and (max-width: 640px) {
			display:block;
		}
	}
	ul {
		list-style:none;
		display: flex;
		justify-content:space-between;
		padding:0;
		@media screen and (max-width: 640px) {
			flex-direction:column;
			max-height:0;
			overflow:hidden;
			transition:.2s;
			&.nav-open {
				max-height:5000px;
			}
		}
		li {
			a {
				font-size:$nav-font-size;
				text-decoration: none;
				text-transform: uppercase;
				color: $nav-color;
				letter-spacing: 0.05em;
				padding:10px;
				display:block;
				font-weight:900;
				transition:.2s;
				&:hover {
					color: $white;
					background:darken($blue,20%);
				}
			}
		}
	}
}